<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{usr/common/layout}">
<head>
    <meta charset="UTF-8">
    <title>게시물 본문</title>
</head>

<main layout:fragment="main">
<h1>게시물 본문</h1>
    <div>
        <a th:if="${article.user.id == session.loginedUserId}" th:href="@{modify(id=${article.id})}">글 수정</a>
        <a th:if="${article.user.id == session.loginedUserId}"
           onclick="if ( confirm('정말로 삭제하겠습니까?') == false ) return false;" th:href="@{doDelete(id=${article.id})}">글
            삭제</a>
    </div>
<div>
    <div>
        <div>번호</div>
        <div>
            [[${article.id}]]
        </div>
    </div>
    <hr>
    <div>
        <div>작성날짜</div>
        <div>
            [[${article.regDate}]]
        </div>
    </div>
    <hr>
    <div>
        <div>제목</div>
        <div>
            [[${article.title}]]
        </div>
    </div>
    <hr>
    <div>
        <div>내용</div>
        <div>
            [[${article.body}]]
        </div>
    </div>
</div>
</main>
</html>