<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{usr/common/layout}">
<head>
    <meta charset="UTF-8">
    <title>게시물 리스트</title>
</head>
<div>
    <a href="write">글 쓰기</a> / <a href="list" style="color:red">글 리스트</a>
</div>
<main layout:fragment="main">
    <h1>게시물 리스트</h1>
        <ul>
            <li th:each="article : ${articleList}">
                <a th:href="@{detail(id=${article.id})}">
                [[${article.id}]] / [[${article.title}]] / [[${article.regDate}]]
                </a>
            </li>
        </ul>

</main>
</html>