<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{usr/common/layout}">
<head>
    <meta charset="UTF-8">
    <title>게시물 수정</title>
</head>
<main layout:fragment="main">

<h1>게시물 수정</h1>
    <div>
        <a th:href="@{detail(id=${article.id})}">글 본문</a>
    </div>
<form action="doModify" method="POST">
    <input type="hidden" name="id" th:value="${article.id}">
    <div>
        <div>제목</div>
        <div>
            <input type="text" name="title" placeholder="제목을 입력해주세요." th:value="${article.title}">
        </div>
    </div>

    <div>
        <div>내용</div>
        <div>
            <textarea name="body" placeholder="내용을 입력해주세요." th:text="${article.body}"></textarea>
        </div>
    </div>

    <div>
        <div>수정</div>
        <div>
            <input type="submit" value="수정">
        </div>
    </div>

    <h1>게시물 작성</h1>
    <ul>
        <li th:each="article : ${articleList}">
            [[${article.id}]] / [[${article.title}]] / [[${article.body}]]
        </li>
    </ul>
</form>
</main>
</html>